.app {
  margin: 0 auto;
  max-width: 1400px;
  padding: 40px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
}

.button {
  width: 300px;
  height: 60px;
  font-size: 30px;
  border: none;
  border-radius: 4px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background: #f78d1d;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#faa51a),
    to(#f47a20)
  );
  background: -moz-linear-gradient(top, #faa51a, #f47a20);
  background-image: -o-linear-gradient(top, #faa51a, #f47a20);
}

.button:hover {
  background: #f47c20;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f88e11),
    to(#f06015)
  );
  background: -moz-linear-gradient(top, #f88e11, #f06015);
  background-image: -o-linear-gradient(top, #f88e11, #f06015);
}

.button:active {
  position: relative;
  top: 1px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f47a20),
    to(#faa51a)
  );
  background: -moz-linear-gradient(top, #f47a20, #faa51a);
  background-image: -o-linear-gradient(top, #f47a20, #faa51a);
}

.main {
  margin: 0 auto;
}
